* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(365deg, rgb(35, 6, 179), rgb(43, 135, 216));
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: rgb(251, 244, 39);
  margin-top: 100px;
}
form {
  margin-top: 50px;
  background: #fff;
  box-shadow: 3px 6px 4px #222;
}
form input {
  width: 250px;
  height: 40px;
  border: none;
  outline: none;
  padding: 0 5px;
}
form button {
  width: 50px;
  height: 40px;
  border: none;
  background: teal;
  color: #fff;
  outline: none;
  cursor: pointer;
}
.container {
  margin-top: 50px;
}
ul {
  list-style: none;
  width: 500px;
}
ul li {
  width: 100%;
  background: #fff;
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  position: relative;
  cursor: pointer;
  display: block;
  margin: 5px 0;
  box-shadow: -3px 6px 4px #222;
  transition: 0.5s linear;
}
ul li span {
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
  width: 50px;
  text-align: center;
  background: teal;
}
